
/*This is for the picture and name of a dish's webpage*/
.page_image{
    margin:auto;
    margin-top: 60px;
    text-align:center;
    background-color:#4caf50;
    width:900px;
    height:690px;
    padding-top:50px;
    border-radius: 50px;
    
 }

.page_image img{border-radius: 20px;
    box-shadow:0 0 4.5px lightgreen;
} 
.page_image h2 {padding-top:50px;
    }



/*This is for each dishes details */
.details{margin:90px 100px;
    border-radius: 20px;
    height:110px;
    padding:15px 30px;
    background-color:#4caf50;
    width:300px;
    
}   

/*This is specifically for ingredients in the fried rice webpage*/
.ingredients{
    margin:0px 100px;
    background-color:#4caf50;
    
    border-radius: 20px;
    height:795px;
    padding:30px 30px;
    width:690px;
}




/*This is for each dishes instructions and images alongside the instructions*/
.instructions{margin:50px 100px;}


.instructions img{height:300px;
width:500px;
margin: 20px 300px 40px;
background-color:#4caf50;
    border-radius: 20px;

}

.instructions li{background-color:#4caf50;
    border-radius: 20px;
height:60px;
padding:15px 30px;
list-style-position: inside;
}
.details li{margin-bottom:12px;}

.ingredients li{margin-bottom:20px;}

.instructions li{margin-bottom:15px;}



/*This is specifically for instruction two in the Fried Rice webpage*/
.instructions #two{background-color:#4caf50;
    border-radius: 20px;
height:100px;
padding:15px 30px;
list-style-position: inside;}






/*This is specifically for ingredients in the Egg sauce web page*/
.ingredients_1{
    margin:0px 100px;
    background-color:#4caf50;
    border-radius: 20px;
    height:430px;
    padding:30px 30px;
    width:690px;
}


.ingredients_1 li{margin-bottom:20px;}











/*This is specifically for ingredients in the pancake and corned beef sauce web page */

.ingredients_2{
    margin:0px 100px;
    background-color:#4caf50;
    border-radius: 20px;
    height:670px;
    padding:30px 30px;
    width:690px;
}

    


.ingredients_2 li{margin-bottom:20px;}
